// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$gray-100: #F0F4F8 !default;
$gray-200: #D9E2EC !default;
$gray-300: #BCCCDC !default;
$gray-400: #9FB3C8 !default;
$gray-500: #829AB1 !default;
$gray-600: #627D98 !default;
$gray-700: #486581 !default;
$gray-800: #334E68 !default;
$gray-900: #243B53 !default;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
